.studentMaxContainer{
    width: 100%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.filterContainer{
    height: fit-content;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    margin: 15px;
    padding: 30px 0px;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.1));
}

.studnetsTableContainer{
    height: 70vh;
    width: 80%;
    overflow-y: scroll;
}

.sizableBtn:before{
    content: "Añadir Alumno";
}

.tbodyHover tr:hover{
    cursor: pointer;
}

@media (max-width: 800px) {
    .filterContainer{
        width: 100%;
        padding: 10px;
    }

    .filterContainer h2{
        font-size: 20px;
    }

    .sizableBtn:before{
        content: "Añadir";
        font-size: 15px;
    }

    .sizableBtn{
        margin-left: -10px;
    }

    .studnetsTableContainer{
        width: 100%;
    }
}

@media (max-width: 416px) {
    .sizableBtn{
        margin-left: -15px !important;
        font-size: 10px;
    }
}